:root {
  --blue-bg: #eef4fb;
  --blue-bg: #eef4fb;
  --blue-base: #2f80ed;
  --blue-block-bg: #ccd9e9;
  --green-color: #73be7d;
  --silver-color: #9b9b9b;
  --silver-300: #a9a9a9;
  --silver-200: #bdbebd;
  --silver-100: #d3d3d3;
  --red-color: #cc6f74;
  --text-color: #464646;
}
