.header-list-menu {
  position: relative;
}

.header-list-menu__button {
  border: none;
  background: none;
  cursor: pointer;
}

.header-list-menu__list-actions {
  position: absolute;
  top: 0;
  left: 40px;
  width: 250px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header-list-menu__title {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-bottom: 1px solid rgb(218,218,218);
}

.header-list-menu__button-close  {
  position: absolute;
  top: 5px;
  right: 10px;
}

.list-actions-lists {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-actions-lists__link {
  display: block;
  padding: 10px 25px;
  color: var(--text-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-actions-lists__link:hover,
.list-actions-lists__link:focus {
  background-color: var(--blue-base);
  color: #ffffff;
  text-decoration: none;
}
