.detailed-card__list-name,
.detailed-card__author-name {
  color: var(--blue-base);
}

.detailed-card__description--add {
  height: 70px;
  padding: 10px;
  background-color: var(--blue-block-bg);
  border-radius: 5px;
  cursor: pointer;
}
