.modal {
  display: block;
}

.modal__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.modal__window {
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal__window--reg {
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__content {
  position: relative;
}

.modal__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
}

.modal__button-close {
  position: absolute;
  top: -10px;
  right: -15px;
}
