.comments {
  margin: 25px 0;
}

.comments__title {
  font-size: 18px;
  line-height: 20px;
}

.comments-lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment-lists__item {
  margin-bottom: 10px;
}

.comment-lists__item:last-child {
  margin-bottom: 0;
}

.comment-lists__author {
  font-weight: 500;
}

.comment-lists__comment {
  margin: 10px 0;
}

.comment-lists__text {
  padding: 7px;
  background-color: var(--blue-block-bg);
  border-radius: 5px;
  cursor: pointer;
}

.comment-lists__link {
  margin-right: 15px;
}

.comment-lists__link:last-child {
  margin-right: 0;
}

.comments__add {
  margin-top: 20px;
}

.comments__add-text {
  height: 70px;
  padding: 10px;
  background-color: var(--blue-block-bg);
  border-radius: 5px;
  cursor: pointer;
}
